{% load staticfiles %}

{# load flags templatetag in the top of your file #}
{% load flags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- http://flag-icon-css.lip.is -->
  <link rel="stylesheet" href="{% static "flag-icon/css/flag-icon.min.css" %}">


</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" action="{% url 'index' %}" method="post">
          <legend>Language identification</legend>
          <div class="form-group">
            {% csrf_token %}
            <label for="{{form.phrase.id_for_label}}">Type a message (works well in phrases with more than 3 words)</label>
            {{form.phrase}}
            {{form.phrase.errors}}

          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Detect</button>
            {% if language %}
              {# use the flag_by_language template tag #}
              {% flag_by_language language %}
            {% endif %}

          </div>
        </form>
      </div>

    </div>
  </div><!-- /container -->

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
